body {
    --mdc-theme-primary:#ff5722;
    background:url(images/background.png)no-repeat left bottom fixed #ff5722;
    text-align: center;
    background-position-y: 100px;
    background-size: 90%;
    width: 504px!important;
    height: 487px!important;
    color: white!important;
    overflow:hidden;
}

#splash {
    background: url(images/2KSplashLogo.png)no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 10000;
    left: 0;
    top: 0;
    animation: splash 2s;
    animation-fill-mode: forwards;
}

@keyframes splash {
    0% {
        display: block;
        left: 0;
    }

    50% {
        display: block;
        left: 0;
    }

    100% {
        display: none;
        left: -100%;
    }
}

#box {
    border: none;
    background: white;
    top: 23%;
    position: absolute;
    left: 20%;
    width: 300px;
    height: 324px;
    color: black!important;
    display: block!important;
    max-width: 324px;
    max-height: 300px;
    min-width: 300px;
    min-height: 324px;
    text-align: center;
}

#status {
    width: 300px;
    height: 30px;
    bottom: 6%;
    position: absolute;
    left: 20%;
    text-align: start;
    color: black;
    font-size:125%;
    font-size: 4vw;
    padding-left: 1%;
}

#status-btn {
    position: absolute;
    bottom: 8%;
    width: 100px;
    font-size: 60%;
    right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.js-panel {
    display: none;
    color: black;
    height: 200px;
}

.is-active {
    display: block
}

.rsd-btn {
    width: 100px;
    height: 125px;
    top: 5px;
}

.rnd-btn {
    width: 90px;
    height: 90px;
    padding:5px;
    border-radius: 50%;
    font-size: 75%;
}
.pumplit {
      background: url(images/pumpkinlitup.png) center center / contain no-repeat!important;
      transition:300ms ease 20ms;
}
.mdc-floating-label--float-above {
  color:var(--mdc-theme-primary)!important;
}
.first-place {
  background:#ff5722;
  color:white;
}
.mdc-list-item {
  left: -10px;
}
#btgame {
  display:none;
  width:100%;
  position:absolute;
  height:100%;
  background:black;
  z-index:100000000000000;
  padding:0;
  margin:0;
  left:0;
  top:0;
  color:white!important;
}
hr {animation:scale 1s ease;}
@keyframes scale {
  from {width:0%;}
  to {width:100%;}
}
